<flx-container>
  <flx-grid>
    <header flx-row size="auto" switchSize="small" verticalAlignment="center" itemsSeparation="between">
      <div [flxClass]="{'small-logo': 'extraSmall|small', 'centered': 'small'}">
        <img class="header-logo" src="../assets/images/angular.png">
        <h4>Demo App</h4>
      </div>
      <nav flx-row size="50%" [flxClass]= "{'small-menu': 'extraSmall|small'}">
        <a class="nav-item" [flxClass]= "{'separted-nav-item': 'medium|large'}" href="#">Home</a>
        <a class="nav-item" [flxClass]= "{'separted-nav-item': 'medium|large'}" href="#">Page 1</a>
        <a class="nav-item" [flxClass]= "{'separted-nav-item': 'medium|large'}" href="#">Page 2</a>
        <a class="nav-item" [flxClass]= "{'separted-nav-item': 'medium|large'}" href="#">Page 3</a>
        <a class="nav-item" [flxClass]= "{'separted-nav-item': 'medium|large'}" href="#">Page 4</a>
      </nav>
    </header>
    <flx-row switchSize="small" style="height: 100%">
      <main flx-column>
        <div class="panel panel-default main-panel">
          <div class="panel-body">
            Main Content
          </div>
        </div>
      </main>
      <aside flx-column switchSize="small"  size="20%" *flxMinSize="'small'" [flxClass]= "{'aside-max-size': 'medium|large'}">
        <div class="banner" [flxClass]= "{'fixed-size-banner': 'medium|large'}"></div>
        <div class="banner" [flxClass]= "{'fixed-size-banner': 'medium|large'}"></div>
      </aside>
    </flx-row>
    <footer flx-row size="10%">
      <flx-column horizontalAlignment="center">
        <flx-row verticalAlignment="center" horizontalAlignment="center">
          <i class="fa fa-facebook fa-2x social-icon" aria-hidden="true"></i>
          <i class="fa fa-twitter fa-2x social-icon" aria-hidden="true"></i>
          <i class="fa fa-instagram fa-2x social-icon" aria-hidden="true"></i>
        </flx-row>
        <p class="copyright-text">Copyright © 2018 Ng2-Flex Demo</p>
      </flx-column>
    </footer>
  </flx-grid>
</flx-container>

